{% extends 'base.html' %}
{% block content %}
    {% load static %}

    <div class="container">

        <!-- Modal -->
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title" id="myModalLabel">Last Login: {{ user.last_login }}</h4>
    </div>
    <div class="modal-body">
        <center>
            {% if user.image %}
            <img src="{{ user.image.url }}" width="140" height="140" border="0" class="img-circle"></a>
                {% else %}
                <img src="images/defult.jpg" width="140" height="140" border="0" class="img-circle"></a>
            {% endif %}
            <h3 class="media-heading">{{ user.first_name }} {{ user.last_name }}
                <p>
                    <small>{{ user.hometown }}</small>
            </h3>
            </p>
            <span><strong>Skills: </strong></span>
            <span class="label label-warning">HTML5/CSS</span>
            <span class="label label-info">Python</span>
            <span class="label label-info">Django</span>
            <span class="label label-success">Javascript</span>
        </center>
        <hr>
        <center>
            <p class="text-left"><strong>Bio: </strong><br>
               {{ user.bio }}</p>
            <br>
        </center>
    </div>
    <div class="modal-footer">
        <center>
            <a href="/loggedin" class="btn btn-primary" role="button">Update your profile</a>
            <a href="{% url "cancel_subscription" %}"
              onclick="return cancelSubscriptionCheck();"
               class="btn btn-danger">Cancel Subscription</a>
        </center>
    </div>

    <script type="text/javascript">
        function cancelSubscriptionCheck() {
            if (confirm('Are you sure you would like to cancel your subscription?')) {
                return False;
            }
            return True;
        }
    </script>



{% endblock %}